/* ----- Globals ----- */
* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* ----- Main App ----- */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 70vh;
  background-color: rgb(248, 234, 234);
  border: solid 2px #444;
  border-radius: 20px;
  overflow: hidden;
}

.app-header {
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: #f05562; 
  border-bottom: solid 2px #444;
  font-size: 1.2em;
}

.app-row {
  height: 13%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #999; 
}

.app-row-large {
  height: 36%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-row i {
  display: inline;
}


/* ----- App Rows ----- */
.row-modal {
  display: flex;
  align-items: center;
}

.modal-image {
  height: 70px;
  width: 110px;
  background-color: #fff;
  background-position: center;
  margin: 0 20px;
  border: solid 5px #444;
}


.modal-left,
.modal-right {
  cursor: pointer;
}

#char-image {
  background-image: url('/media/drivers/MiiHeavyIcon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#body-image {
  background-image: url('/media/bodies/StandardKartIcon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#tires-image {
  background-image: url('/media/tires/StandardIcon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#glider-image {
  background-image: url('/media/gliders/SuperGliderIcon.png');
  background-repeat: no-repeat;
  background-size: contain;
}